name: Break the Cache-Cage
on:
  push:
    branches:
      - main  # Change this to 'master' if your branch is called master

jobs:
  google-indexing:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google
        uses: robingenz/action-google-indexing@v1.0.0
        with:
          # ADD THE TRAILING SLASH HERE
          siteUrl: 'https://unometry.com/' 
          # FORCE MANUALLY (This ignores sitemap errors)
          urls: 'https://unometry.com/'
          gcpServiceAccountKey: ${{ secrets.GCP_SA_KEY }}