name: Break the Cache-Cage
on:
  push:
    branches:
      - main  # Change this to 'master' if your branch is called master

jobs:
  google-indexing:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google
        uses: robingenz/action-google-indexing@v1.0.0
        with:
          # Use the exact URL as it appears in GSC (with the slash)
          siteUrl: 'https://unometry.com/'
          # Directly point to your sitemap to avoid the "No sitemaps found" error
          sitemapUrl: 'https://unometry.com/sitemap.xml'
          gcpServiceAccountKey: ${{ secrets.GCP_SA_KEY }}