name: Break the Cache-Cage
on:
  push:
    branches:
      - main  # or 'master' if that is your branch name

jobs:
  google-indexing:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google
        uses: robingenz/action-google-indexing@v1.0.0
        with:
          # Use the Domain Property format without the https:// or trailing slash
          # This helps the tool find the sitemaps associated with the domain
          siteUrl: 'unometry.com'
          gcpServiceAccountKey: ${{ secrets.GCP_SA_KEY }}