name: Break the Cache-Cage
on:
  push:
    branches:
      - main  # or 'master' if that is your branch name

jobs:
  google-indexing:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google
        uses: robingenz/action-google-indexing@v1.0.0
        env:
          # This tells GitHub Actions to skip its internal caching service
          ACTIONS_CACHE_SKIP: 'true'
        with:
          siteUrl: 'https://unometry.com/'
          gcpServiceAccountKey: ${{ secrets.GCP_SA_KEY }}    